/* this is css file  */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* navigation container styles  */
.text-r {
    color: #FD6E0A;
}

.nav-title a {
    text-decoration: none;
    color: #333;
}


.header-container {
    background-color: #FFF8F3;
    background-image: url('/images/developer.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0 6rem;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-items: center;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #FD6E0A;
}

.nav-site-links{
    display: flex;
    gap: 20px;
    align-items: center;
}

.hire-btn {
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.hire-btn:hover {
    background-color: #e65c00;
}  

/* banner container starts */

.banner-container {
    display: flex;
    align-items: space-between;
    margin-left: 6rem;
    background-image: url('/images/header_bg.png');
    background-size: 80%;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 20px;
}

.banner-text-container{
    max-width: 600px;
    margin-top: 8rem;
}

.banner-title {
    font-weight: 177;
    font-size: 2.5rem;
    color: #474747;
    margin-bottom: 10px;
}

.banner-subtitle {
    font-size: 1.2rem;
    font-weight: 585;
    color: #757575;
    margin-bottom: 20px;
}

.view-portfolio-btn {
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.contact-me-btn {
    
    background-color: #faf6f6;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 1rem;
}

.btn-icon {
    margin-right: 8px;
}

.contact-me-btn:hover {
    background-color: #e65c00;
    color: white;
}

.view-portfolio-btn:hover {
    background-color: #e65c00;
}

.banner-image{
    max-width: 100%;
    height: auto;
    margin-bottom: 0;
}

.banner-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* main content styles */

/* about me section styles : start  */
.about-me-section {
    background-color: #ffffff;
    padding: 40px 20px;
    text-align: center;
    margin: 6rem 6rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-me-section:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.about-me-text-container {
    max-width: 800px;
    margin: 2rem 2rem;
}

.about-me-description {
    font-size: 1.1rem;
    color: #757575;
    line-height: 1.2;
    margin-bottom: 20px;
}

.about-me-info{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.info-item p{
    color: #757575;
    font-size: 168;
    font-weight: 500;
}

/* What I Do container styles : start   */

.what-do-container{
    text-align: center;
    margin: 0 6rem 6rem 6rem;
}

.what-do-text-container {
    max-width: 800px;
    margin: 0 auto 40px auto;
}

.what-do-description {
    font-size: 1.1rem;
    color: #757575;
    line-height: 1.6;
    margin-top: 10px;
}

.what-do-skills{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.skill-item {
    border: none;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.skill-description{
    font-size: 1rem;
    color: #757575;
    line-height: 1.4;
    margin-top: 10px;
}

.skill-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* what I Do container styles : end    */

/* summary of resume styles : start    */


.summary-of-resumes-container{
    margin: 0 6rem 6rem 6rem;
    text-align: center;
}

.summary-of-resumes-title{
    text-align: center;
    margin-bottom: 20px;
}

.summary-of-resumes-content{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.resume-items{
    text-align: left;
    margin-bottom: 2rem;
}

.resume-item{
    border-bottom: #757575 1px solid;
}

.resume-item-title{
    margin-bottom: 0;
    line-height: 0.1;
}

.resume-item-description{
    font-size: 1rem;
    color: #757575;
    line-height: 1.4;
    margin-top: 10px;
}

.resume-item-subtitle{
    font-size: 1rem;
    color: #757575;
    line-height: 1.4;
    margin-top: none;
}

.download-resume-btn {
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
} 

.download-resume-btn:hover {
    background-color: #e65c00;
}

/* summary of resume styles : end    */
/* footer styles : start  */
